// Specific CSS for your home-page
.banner {
  background-size: contain;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: #fefee3;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  color: #fefee3;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.btn-flat {
  color: #fefee3;
  padding: 8px 24px;
  border-radius: 4px;
  background: #bc4749;
  transition: background 0.3s ease;
}
.highlights-banner {
  display: flex;
  grid-gap: 16px;
  grid-template-columns: 5fr 5fr 5fr 5fr;
  justify-content: space-between;
  background-position: center;
}

.footer {
  background: #fefee3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #2c6e49;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #ffc9b9;
}
