.alert {
    position:relative;
    width:300px;
    min-height:70px;
    margin-top:50px;
    border:1px solid #666;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:20px 30px;
}
