.navbar-lewagon {
  justify-content: space-between;
  background: #2c6e49;
  color: #fefee3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar .navbar-nav .nav-link {
  color: #fefee3;
  font-size: 1.1em;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 0 0.5em;
}

.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
  border-right: 1px solid #FFF;
}
